* {
    font-family: "DM Sans", "Segoe UI", "SF Pro";
    font-size: 14px;
}

.header {
    display: flex;
    flex-direction: column;
}

.top {
    display: grid;
    grid-column: auto auto;
    background-color: #8cc7df;
    margin: 2% 2% 0% 2%;
    padding: 2% 2% 2% 2%;
    border-radius: 20px 20px 0px 0px;
    align-items: center;
    justify-content: space-around;
}

.name {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 2%;
    color: #051881;
    grid-column-start: 2;
}

.headerimage {
    max-width: 75px;
    max-height: 75px;
    border-radius: 100%;
    padding: 2%;
}

.navext {
    margin: 0% 2% 2% 2%;
    background-color: #051881;
    border-radius: 0px 0px 20px 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    color: #8cc7df;
    text-decoration: none !important;
    line-height: 0px;
}

img {
    border-radius: 15px;
    margin: 2%;
}

.intro {
    margin: 5%;
    text-align: justify;
}

.projects {
    background-color: rgb(230, 235, 238);
    margin: 2% 2% 2% 2%;
    height: 2500px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.proj {
    height: 150px;
    width: 150px;
    margin: 5px;
}

.wall01, .wall02, .wall03 {
    margin: 5px;
    height: 150px;
    width: auto;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;

}

footer {
    margin: 2%;
    background-color: #e3dcd2;
    border-radius: 15px;
    padding: 5%;
    color: #745001;
    text-align: center;
}