*{
    font-family: "Space Grotesk", "Segoe UI";
    font-size: 20px;
}

.forsomereason
{
    display: flex;
    flex-direction: column;
}

.top
{
    display: flex;
    flex-direction: row;
    max-width:100%;
    background-color: #8cc7df;
    margin: 20px;
    margin-bottom: 0px;
    padding: 20px;
    padding-left: 50px;
    border-radius: 20px 20px 0px 0px;
    justify-content: start;
    align-items: center;
}

.name
{
    font-family: 'Space Grotesk', "Segoe UI";
    font-size: 50px;
    margin: 2px;
    margin-bottom: 0px;
    padding: 20px;
    color: #051881;
    
}
.headerimage
{
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
}

.navext
{
    margin: 20px;
    margin-top: 0px;
    background-color: #051881;
    border-radius: 0px 0px 20px 20px;

}
a {
    color: #8cc7df;
    text-decoration: none;
}
.nav
{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    list-style:none;
    font-size: 20px;
    color: #dde028;
    font-weight: 700;
    text-decoration: none !important;
    line-height: 0px;
}

.techcontainer
{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.list
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style:none ;
    margin: 10px;
    padding: 30px 20px 30px 20px;
    margin-bottom: 0px;
    background-color: #0baeb9;
    color: #030116;
    border-radius: 20px 20px 0px 0px;
}

.list li 
{
    transition: all 0.3s ease 0s;
}

.list li:hover
{
    color: #e1fcf9;
    font-weight: 800;
    letter-spacing: 5px;
}

.list li:hover
{
    background-color:rgba(255, 0, 0, 0);
}

#subject
{
    padding: 20px;
    margin: 10px;
    margin-top: 0px;
    background-color: #000D1C;
    border-radius: 0px 0px 20px 20px;
    color: #CFE3FA;
    height: 500px;
    word-spacing: 10px;

}
