* {
    font-family: "DM Sans", "Segoe UI", "SF Pro";
    font-size: 14px;
}

.header {
    display: flex;
    flex-direction: column;
}

.top {
    display: grid;
    grid-column: auto auto;
    background-color: #8cc7df;
    margin: 2% 2% 0% 2%;
    padding: 2% 2% 2% 2%;
    border-radius: 20px 20px 0px 0px;
    align-items: center;
    justify-content: space-around;
}

.name {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 2%;
    color: #051881;
    grid-column-start: 2;
}

.headerimage {
    max-width: 75px;
    max-height: 75px;
    border-radius: 100%;
    padding: 2%;
}

.navext {
    margin: 0% 2% 2% 2%;
    background-color: #051881;
    border-radius: 0px 0px 20px 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    color: #8cc7df;
    text-decoration: none !important;
    line-height: 0px;
}

.para-intro
{
    margin: 20px 20px 20px 20px;
    text-align: justify;
}

.emoji{
    position:absolute;
    margin-left: 5px;
    width: 15px;
    height: 15px;
}

.storyhead
{
    font-size: 20px;
    font-weight: 900;
    margin: 30px;
    margin-bottom: 5px;
}

.stories
{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.story-one
{
    margin: 10px 20px;
    border-radius: 20px;
    background-color: rgb(209, 209, 209) ;
    display: flex;
    flex-direction:  column;
    justify-content: space-around;
    align-items: center;
}

.story-image
{
    margin: 0px 0px 20px 0px;
    border-radius: 20px 20px 0px 0px;
    object-fit:cover;
    max-width: 100% !important;
    max-height: 100% !important;
}

.content
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    padding: 2%;
}
.message-head
{
    padding: 10px;
    font-weight: 600;
    font-size: 18px !important;    
}

.message
{
    font-size: 12px !important; 
    padding: 10px;
}

.quote
{
    background-color: rgb(221, 209, 172);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.messageQ {
    font-family: 'Playfair Display', serif !important;
    font-weight: 800;
    font-style: italic;
    font-size: 16px;
    color: #63501f;
}

.nameQ
{
    font-family: 'Playfair Display', serif !important;
    font-weight: 400;
    color: #63501f;
    font-size: 12px;
}